<%- include("./partials/header.ejs") %>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	   	 	<ul class="navbar-nav mr-auto">
	      		<li class="nav-item">
	        		<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
        			<a class="nav-link" href="/schedule">Calendar <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item">
	        		<a class="nav-link" href="https://docs.google.com/document/d/1xr0DPjpI0h8l4860m3gfEvtXTbWprNV4NnGYCjbaAOc/edit?usp=sharing" target="_blank">FAQ <span class="sr-only">(current)</span></a>
	      		</li>
	      		<li class="nav-item active">
        			<a class="nav-link" href="/directory">Directory <span class="sr-only">(current)</span></a>
	      		</li> 
	    	</ul>
	    	<form class="form-inline my-2 my-lg-0" action="/logout" method="GET">
	      		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
	    	</form>
	  	</div>
	</nav>

	<div class="container">

	    <div class="jumbotron">
	      <h1>Your Directory of Work Study Interns</h1>
	      <p>Their Personal Info and Basic Stats in One Place. For further information about each intern, feel free to access their personal profiles by clicking on his/her name.</p>
	    </div>
	   	<div class="p-4 col-lg-12">
			<table class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th class='text-center align-middle'>Full Name</th>
						<th class='text-center align-middle'>Email</th>
						<th class='text-center align-middle'>Role</th>
						<th class='text-center align-middle'>Total Hours</th>
						<th class='text-center align-middle'>Average</th>
					</tr>
				</thead>
				<tbody>
					<%interns.forEach(function(intern, index){%>
						<form action="/submissions/<%=intern.id%>" method="GET" id="<%=intern.id%>"></form>
						<%if(intern.average > 7.5){%>
							<tr class="table-danger ">
								<td class="d-flex justify-content-between">
									<a href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a>
									<%if((15*(intern.submissions.length + 1) - intern.totalHours) > 0){%>
		    							<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be <%=15*(intern.submissions.length + 1) - intern.totalHours%> to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
		    						<%} else {%>
		    							<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be 0 to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
		    						<%}%>
						<%} else {%>
							<tr>
								<td><a href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a>
						<%}%>
							</td>
							<!-- <td><a href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a></td> -->
							<td class='text-center align-middle'><%=intern.email%></td>
							<td class='text-center align-middle'><%=intern.role%></td>
							<td class='text-center align-middle'><%=intern.totalHours%> hrs</td>
							<td class='text-center align-middle'><%=intern.average%> hrs</td>
						</tr>
					<%});;%>
				</tbody>
			</table>
		</div>
	</div>
	<div class="content-wrapper"></div>

<%- include("./partials/footer.ejs") %>
