<%- include("./partials/header.ejs") %>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
		    <li class="nav-item active">
		    	<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="/schedule">Calendar <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="nav-item">
		    	<a class="nav-link" href="https://docs.google.com/document/d/1xr0DPjpI0h8l4860m3gfEvtXTbWprNV4NnGYCjbaAOc/edit?usp=sharing" target="_blank">FAQ <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="nav-item">
		    	<a class="nav-link" href="/directory">Directory <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="nav-item dropdown">
	          	<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Pay Period</a>
	        	<div class="dropdown-menu">
	        		<%manager.payPeriodsAvailable.forEach(function(pp, index){%>
	        			<a class="dropdown-item" href="/home/<%=pp%>"><%=pp%></a>
	        		<%});%>
	          	</div>
	        </li>
	        <%if(submissions[0].approvalClosed == false){%>
		    	<form class="form-inline my-2 my-lg-0" action="/approveall" method="POST">
		    		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Approve All</button>
	    		</form>
		    <%}%>
	    </ul>
	    <form class="form-inline my-2 my-lg-0" action="/toggleViewHome" method="POST">
    		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Toggle View</button>
		</form>
	    <form class="form-inline my-2 my-lg-0" action="/logout" method="GET">
	      	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
	    </form>
	  </div>
	</nav>
	       

	<div class="container">
	    <div class="jumbotron">
		    <h1>Work Study Manager Dashboard</h1>
		    <p>Hello <%=manager.name%>, you are looking at <%=currentPP%></p>
	    </div>

	 <%if (manager.viewPreference == "Rows") {%>

		</div>

    	<div class="p-4 col-lg-12">
			<table class="table table-sm table-hover">
				<thead class="thead-light">
					<tr>
						<th class='text-center align-middle'>Full Name</th>
						<!-- <th class='text-center align-middle'>Email</th> -->
						<th class='text-center align-middle'>Role</th>
						<th class='text-center align-middle'>Week 1</th>
						<th class='text-center align-middle'>Week 2</th>
						<th class='text-center align-middle' tabindex="0" data-toggle="popover" data-placement="top" data-trigger="focus" title="What does Unreported mean?" data-content="This represents any hours from previous pay periods that the intern or manager forgot to report or missed the deadline of, if any.">Unreported</th>
						<th class='text-center align-middle' tabindex="0" data-toggle="popover" data-placement="top" data-trigger="focus" title="What does Total mean?" data-content="This represents the total amount of hours reported for THIS pay period only. It is the sum of Week 1, Week 2 and Unreported for THIS pay period ONLY.">Total</th>
						<th class='text-center align-middle'>Tasks Completed</th>
						<th class='text-center align-middle' tabindex="0" data-toggle="popover" data-placement="top" data-trigger="focus" title="What does TotalYTD mean?" data-content="This variable indicates the total amount of hours reported since the beginning of the Academic Year.">Total Hours YTD</th>
						<th class='text-center align-middle' tabindex="0" data-toggle="popover" data-placement="top" data-trigger="focus" title="What does AverageYTD mean?" data-content="This variable indicates the average worked hours per week for the entire Academic Year. It considers the total hours reported since the start date of the internship. This value SHOULD NOT be higher than 7.5 hrs/wk." class="my-1 mr-2" name="average">AverageYTD</th>
						<th class='text-center align-middle'>Date Approved</th>
						<th class='text-center align-middle'>Approved By</th>
						<th class='text-center align-middle'>Action</th>
					</tr>
				</thead>
				<tbody>
					<%submissions.forEach(function(submission, index){%>
		    			<%interns.forEach(function(intern, indexIntern){%>
		    				<%if(intern.submissions.includes(submission._id)){%>
		    					<%if(submission.approved == false){%>
		    						<form action="/approve" method="POST" id="approval-<%=submission.id%>">
			    						<%if(intern.average > 7.5){%>
											<tr class="table-danger">
												<td class='text-center align-middle'><a class='align-self-center' href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a>
													<div class="p-2 d-flex justify-content-center">
														<%if((15*(intern.submissions.length + 1) - intern.totalHours) > 0){%>
							    							<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be <%=15*(intern.submissions.length + 1) - intern.totalHours%> to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
							    						<%} else {%>
							    							<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be 0 to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
							    						<%}%>
							    					</div>
			    						<%} else if(submission.total > 15){%>
			    							<tr class="table-warning">
												<td class='text-center align-middle'><a href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a>
													<div class="p-2 d-flex justify-content-center">
														<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeds Total hours worked on THIS Pay Period" data-content="This means the intern worked more than 15 hours on this Pay Period. Remember that each intern should work no more than 7.5 hours per week. However, this is not an issue unless the AverageYTD is above 7.5 hrs/wk." class="p-1 badge badge-warning">Total</a>
													</div>
			    						<%} else {%>
			    							<tr>
												<td class='text-center align-middle'><a class='align-self-center' href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a>
										<%}%>
											</td>
											<!-- <td class='text-center align-middle'><%=intern.email%></td> -->
											<td class='text-center align-middle'><%=intern.role%></td>
											<td class='text-center align-middle'><input type="number" class="form-control border border-dark" name="week1" min="0" step="0.01" id="week1" value="<%=submission.week1%>" required></td>
											<td class='text-center align-middle'><input type="number" class="form-control border border-dark" name="week2" min="0" step="0.01" id="week2" value="<%=submission.week2%>" required></td>
											<td class='text-center align-middle'><input type="number" min="0" class="form-control border border-dark" name="missed" step="0.01" id="missed" value="<%=submission.missed%>" required></td>
											<td class='text-center align-middle'><a name="total" id="total"><%=submission.total%> hrs</a></td>
											<td class='w-25 h-75 text-center align-middle'><textarea class="text-left" name="justification" id="justification" maxlength='280' placeholder="Attended meetings. Sent emails..." required><%=submission.description%></textarea></td>


											<td class='text-center align-middle'><%=intern.totalHours%> hrs</td>
											<td class='text-center align-middle'><%=intern.average%> hrs</td>

											<td class='text-center align-middle'></td>
											<td class='text-center align-middle'></td>

											<td class='text-center align-middle'>
												<div class="d-flex align-items-end mt-auto">
							                    	<input type="text" name="subId" hidden value="<%=submission.id%>">
							                    	<input type="text" name="internId" hidden value="<%=intern.id%>">
							                    	<input type="text" name="approverName" hidden value="<%=manager.name%>">
							                      	<button type="submit" id="submit" form="approval-<%=submission.id%>" class="align-self-end btn btn-success">Approve</button>
							                	</div>
							                </td>
						                </form>
									</tr>
								<%} else {%>
									<%if(intern.average > 7.5){%>
										<tr class="table-danger">
											<td><a href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a>
												<div class="p-2 d-flex justify-content-center">
													<%if((15*(intern.submissions.length + 1) - intern.totalHours) > 0){%>
						    							<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be <%=15*(intern.submissions.length + 1) - intern.totalHours%> to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
							    					<%} else {%>
					    								<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be 0 to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
						    						<%}%>
						    					</div>
		    						<%} else if(submission.total > 15){%>
		    							<tr class="table-warning">
											<td class='text-center align-middle'><a href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a>
												<div class="p-2 d-flex justify-content-center">
													<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeds Total hours worked on THIS Pay Period" data-content="This means the intern worked more than 15 hours on this Pay Period. Remember that each intern should work no more than 7.5 hours per week. However, this is not an issue unless the AverageYTD is above 7.5 hrs/wk." class="p-1 badge badge-warning">Total</a>
												</div>
		    						<%} else {%>
		    							<tr>
											<td class='text-center align-middle'><a class='align-self-center' href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%></a>
									<%}%>
										</td>
										<!-- <td class='text-center align-middle'><%=intern.email%></td> -->
										<td class='text-center align-middle'><%=intern.role%></td>

										<td class='text-center align-middle'><%=submission.week1%> hrs</td>
										<td class='text-center align-middle'><%=submission.week2%> hrs</td>
										<td class='text-center align-middle'><%=submission.missed%> hrs</td>
										<td class='text-center align-middle'><%=submission.week1 + submission.week2 +submission.missed%> hrs</td>
										<td class='text-center align-middle'><p class="p-1 text-left border border dark" name="justification" id="justification" wrap="hard"><%=submission.description%></p></td>


										<td class='text-center align-middle'><%=intern.totalHours%> hrs</td>
										<td class='text-center align-middle'><%=intern.average%> hrs</td>

										<td class='text-center align-middle'><%=submission.dateApproved%></td>
										<td class='text-center align-middle'><%=submission.approvedBy%></td>

										<td class='text-center text-wrap align-middle'>
											<%if(submission.approvalClosed == false){%>
												<form action="/manageredit" method="POST">
													<div class="d-flex justify-content-center"><input type="text" name="subId" hidden value="<%=submission.id%>"><button type="submit" class="fas fa-edit"></button></div>
												</form>
											<%} else {%>
												<div class="d-flex justify-content-center"><a>N/A</a></div>
											<%}%>
						                </td>
									</tr>
								<%}%>
							<%}%>
						<%});%>
					<%});%>
				</tbody>
			</table>
		</div>
	<%} else {%>

		    <div class="row">
		    	<%submissions.forEach(function(submission, index){%>
		    		<%interns.forEach(function(intern, indexIntern){%>
		    			<%if(intern.submissions.includes(submission._id)){%>
		    				<div class="p-1 col-md-6">
		    					<form action="/submissions/<%=intern.id%>" method="GET" id="<%=intern.id%>"></form>
		    					<%if(submission.approved == false){%>
			    					<form action="/approve" method="POST" id="approval-<%=submission.id%>">

			    						<!-- Defines Borders and Badges -->
						                <%if(intern.average > 7.5){%>
						    				<div id="ppdiv" class="row rounded border border-danger">
						    					<div class="col-lg-12">
							                      	<div class="row justify-content-end">
							                      		<%if((15*(intern.submissions.length + 1) - intern.totalHours) > 0){%>
							    							<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be <%=15*(intern.submissions.length + 1) - intern.totalHours%> to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
								    					<%} else {%>
						    								<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be 0 to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
							    						<%}%>
						    			<%} else if(submission.total > 15){%>
						    				<div id="ppdiv" class="row border rounded border-warning">
						    					<div class="col-lg-12">
							                      	<div class="row justify-content-end">
									    				<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeds Total hours worked on THIS Pay Period" data-content="This means the intern worked more than 15 hours on this Pay Period. Remember that each intern should work no more than 7.5 hours per week. However, this is not an issue unless the AverageYTD is above 7.5 hrs/wk." class="p-1 badge badge-warning">Total</a>
						    			<%} else {%>
						    				<div id="ppdiv" class="row border border-success">
						    					<div class="col-lg-12">
							                      	<div class="row justify-content-end">
									    				<a class="p-1 badge badge-success">Clear</a>
						    			<%}%>
						    						</div>
								    			</div>

								    			<!-- Inserts Image -->
							                    <div class="p-1 col-lg-4 justify-content-center">
						                    		<input type="image" name="profile" src="<%=intern.imagePath%>" form="<%=intern.id%>" id="profile_picture" class="d-inline-block border border-dark align-top" alt="" loading="lazy">
							                    </div>

							                    <!-- Continues with the rest of the card items -->
							                    <div class="col-lg-8">
							                    	<!-- Numbers -->
							                      	<div class="row">
							                          	<div id="pp_frame" class="d-flex border border-dark col-md-12 justify-content-center">
							                          		<a href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%> - <%=intern.role%></a>
							                          	</div>
							                        	<div class="col-lg-4">
							                        		<label class="my-1 mr-2" for="week1"><strong>Week 1</strong></label>
													      	<input type="number" class="form-control col-md-12 mr-sm-1 border border-dark" name="week1" min="0" step="0.01" id="week1" value="<%=submission.week1%>" required>
													    </div>
							                          	<div class="col-lg-4">
							                          		<label class="my-1 mr-2" for="week2"><strong>Week 2</strong></label>
													      	<input type="number" class="form-control col-md-12 mr-sm-1 border border-dark" name="week2" min="0" step="0.01" id="week2" value="<%=submission.week2%>" required>
							                          	</div>
							                          	<div class="col-lg-4">
							                          		<label tabindex="0" data-toggle="popover" data-trigger="focus" title="What does Unreported mean?" data-content="This represents any hours from previous pay periods that the intern or manager forgot to report or missed the deadline of, if any." class="my-1 mr-2" for="missed"><strong>Unreported</strong></label>
														    <input type="number" min="0" class="form-control col-md-12 mr-sm-1 border border-dark" name="missed" step="0.01" id="missed" value="<%=submission.missed%>" required>
							                          	</div>
							                          	<div class="col-lg-4">
							                          		<label tabindex="0" data-toggle="popover" data-trigger="focus" title="What does Total mean?" data-content="This represents the total amount of hours reported for THIS pay period only. It is the sum of Week 1, Week 2 and Unreported for THIS pay period ONLY." class="my-1 mr-2" for="total"><strong>Total</strong></label>
														    <a name="total" id="total"><%=submission.total%> hrs</a>
							                          	</div>
							                          	<div class="col-lg-4">
							                          		<label tabindex="0" data-toggle="popover" data-trigger="focus" title="What does TotalYTD mean?" data-content="This variable indicates the total amount of hours reported since the beginning of the Academic Year" class="my-1 mr-2" name="totalytd" for="TotalYTD"><strong>TotalYTD</strong></label>
														    <a name="totalytd" id="totalytd"><%=intern.totalHours%> hrs</a>
							                          	</div>
							                          	<div class="col-lg-4">
							                          		<label tabindex="0" data-toggle="popover" data-trigger="focus" title="What does AverageYTD mean?" data-content="This variable indicates the average worked hours per week for the entire Academic Year. It considers the total hours reported since the start date of the internship. This value SHOULD NOT be higher than 7.5 hrs/wk." class="my-1 mr-2" name="average" for="Average"><strong>AverageYTD</strong></label>
														    <a name="average" id="average"><%=intern.average%> hrs/wk</a>
							                          	</div>
							                      	</div>
							                  	</div>
							                  	<!-- Textarea and Buttons -->
							                    <div class="row col-md-12">
								                    <div class="d-flex flex-column p-2 col-lg-9">
								                      	<label class="p-1 align-self-start" for="justification"><strong>Tasks Completed</strong></label>
														<textarea class="p-2 text-left" name="justification" id="justification" wrap="hard" maxlength='280' placeholder="Attended meetings. Sent emails..." required><%=submission.description%></textarea>
								                    </div>
								                    <div class="p-3 d-flex flex-column align-items-end mt-auto col-lg-3">
								                    	<input type="text" name="subId" hidden value="<%=submission.id%>">
								                    	<input type="text" name="internId" hidden value="<%=intern.id%>">
								                    	<input type="text" name="approverName" hidden value="<%=manager.name%>">
								                    	<input name="sTopVal" hidden id="sTopVal"> 
								                      	<button type="submit" id="submit" form="approval-<%=submission.id%>" class="align-self-end btn btn-success">Approve</button>
								                    </div>
								                </div>
					                	</div>
				                	</form>

					    
		    					<%} else {%>
	    							<%if(intern.average > 7.5){%>
					    				<div id="ppdiv" class="row rounded border border-danger">
					    			<%} else if(submission.total > 15){%>
					    				<div id="ppdiv" class="row rounded border border-warning">
					    			<%} else {%>
					    				<div id="ppdiv" class="row rounded border border-dark">
					    			<%}%>
					                    <div class="col-lg-12">
					                      	<div class="row justify-content-end">
					                      		<%if(intern.average > 7.5){%>
								    				<%if((15*(intern.submissions.length + 1) - intern.totalHours) > 0){%>
						    							<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be <%=15*(intern.submissions.length + 1) - intern.totalHours%> to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
						    						<%} else {%>
						    							<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Exceeded AverageYTD" data-content="This is the average number of hours worked per week for the entire Academic Year. Remember that each intern should, on average, work no more than 7.5 hours per week. The total worked hours for the upcoming pay period should be 0 to correct this issue as soon as possible." class="p-1 badge badge-danger">AverageYTD</a>
						    						<%}%>
								    			<%} else if(submission.total > 15){%>
								    				<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Total above expected" data-content="Remember that each intern should work no more than 7.5 hours per week. This is not an issue unless the AverageYTD is above 7.5 hrs/wk." class="p-1 badge badge-warning">Total</a>
								    			<%}%>


								    			<!-- Edit Button when necessary -->
					                        	<%if(submission.approvalClosed == false){%>
													<form action="/manageredit" method="POST" id="edit-<%=submission.id%>"><input type="text" name="subId" hidden value="<%=submission.id%>"></form>
													<div class="d-flex flex-row-reverse"><button type="submit" form="edit-<%=submission.id%>" class="fas fa-edit"></button></div>
													
												<%};%>
					                      	</div>
					                    </div>
					                    <div class="p-1 col-lg-4 justify-content-center">
				                    		<input type="image" name="profile" src="<%=intern.imagePath%>" form="<%=intern.id%>" id="profile_picture" class="d-inline-block align-top border border-dark" alt="" loading="lazy">
					                    </div>
					                    <div class="col-lg-8">
					                      	<div class="row">
					                          	<div id="pp_frame" class="d-flex border border-dark col-md-12 justify-content-center">
					                          		<a href="/submissions/<%=intern.id%>" onclick="document.getElementById('<%=intern.id%>').submit()"><%=intern.name%> - <%=intern.role%></a>
				                          		</div>
					                        	<div class="p-1 col-lg-6">
					                        		<label class="my-1 mr-2" for="week1"><strong>Week 1</strong></label>
											      	<a id="week1" class="mr-sm-1"><%=submission.week1%> hrs</a>
					                        	</div>
					                          	<div class="p-1 col-lg-6">
					                          		<label class="my-1 mr-2" for="week2"><strong>Week 2</strong></label>
											      	<a id="week2" class="mr-sm-1"><%=submission.week2%> hrs</a>
					                          	</div>
					                          	<div class="p-1 col-lg-6">
					                          		<label tabindex="0" data-toggle="popover" data-trigger="focus" title="What does Unreported mean?" data-content="This represents any hours from previous pay periods that the intern or manager forgot to report or missed the deadline of, if any."class="my-1 mr-2" for="missed"><strong>Unreported</strong></label>
											      	<a id="missed" class="mr-sm-1"><%=submission.missed%> hrs</a>
					                          	</div>
					                          	<div class="p-1 col-lg-6">
					                          		<label tabindex="0" data-toggle="popover" data-trigger="focus" title="What does Total mean?" data-content="This represents the total amount of hours reported for THIS pay period only. It is the sum of Week 1, Week 2 and Unreported for THIS pay period ONLY." class="my-1 mr-2" for="total"><strong>Total</strong></label>
											      	<a id="totalSubmitted"><%=submission.week1 + submission.week2 +submission.missed%> hrs</a>
					                          	</div>
					                          	<div class="p-1 col-lg-6">
					                          		<label tabindex="0" data-toggle="popover" data-trigger="focus" title="What does TotalYTD mean?" data-content="This variable indicates the total amount of hours reported since the beginning of the Academic Year" class="my-1 mr-2" name="totalytd" for="TotalYTD"><strong>TotalYTD</strong></label>
											      	<a id="totalSubmitted"><%=intern.totalHours%> hrs</a>
					                          	</div>
					                          	<div class="p-1 col-lg-6">
					                          		<label tabindex="0" data-toggle="popover" data-trigger="focus" title="What does AverageYTD mean?" data-content="This variable indicates the average worked hours per week for the entire Academic Year. It considers the total hours reported since the start date of the internship. This value SHOULD NOT be higher than 7.5 hrs/wk." class="my-1 mr-2" name="average" for="Average"><strong>AverageYTD</strong></label>
											      	<a id="totalSubmitted"><%=intern.average%> hrs/wk</a>
					                          	</div>
					                      	</div>
					                  	</div>
					                  	<div class="row col-md-12">
						                  	<div class="d-flex text-wrap flex-column p-2 col-md-6">
						                      	<label class="p-1 align-self-start" for="justification"><strong>Tasks Completed</strong></label>
												<p class="p-2 text-left flex-fill border border-dark" name="justification" id="justification" wrap="hard"> <%=submission.description%></p>
											</div>
											<div class="p-2 col-md-6 d-flex align-self-center flex-column">
												<p class="align-self-end" id="dateSubmitted"><strong>Date Approved:</strong> <%=submission.dateApproved%></p>
												<p class="align-self-end" id="dateSubmitted"><strong>Approved by:</strong> <%=submission.approvedBy%></p>
							    			</div>
							    		</div>
					                </div>
				            	<%}%>
				            </div>
			            <%}%>
			        <%});%>
		      	<%});%>
		    </div>
		</div>
	<%}%>

<%- include("./partials/footer.ejs") %>
