<%- include("./partials/header.ejs") %>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/schedule">Calendar <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://docs.google.com/document/d/1xr0DPjpI0h8l4860m3gfEvtXTbWprNV4NnGYCjbaAOc/edit?usp=sharing" target="_blank">FAQ <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	      	<%if(user == 'Intern'){%>
		        <a class="nav-link" href="/budgetapp">BudgetApp <span class="sr-only">(current)</span></a>
	        <%} else if (user == 'Manager') {%>
	        	<a class="nav-link" href="/directory">Directory <span class="sr-only">(current)</span></a>
	        <%}%>
	      </li> 
	    </ul>
	    <form class="form-inline my-2 my-lg-0" action="/logout" method="GET">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
	    </form>
	  </div>
	</nav>

	<div class="container">

	    <div class="jumbotron">
	      <h1>Work Study Schedule Summer 2020</h1>
	    </div>
	   	<div class="p-4 col-lg-12">
			<table class="table table-hover">
				<thead class="thead-light">
					<tr>
						<th class='text-center align-middle'>Pay Period Number</th>
						<th class='text-center align-middle'>Week Number</th>
						<th class='text-center align-middle'>Week Start Date</th>
						<th class='text-center align-middle'>Week End Date</th>
						<th class='text-center align-middle' tabindex="0" data-toggle="popover" data-placement="top" data-trigger="focus" title="What does Last Date Pay Period imply?" data-content="This is the last date to submit your hours for the pay period. Interns are unable to update their submissions after these dates.">Last Date Pay Period</th>
						<th class='text-center align-middle'>Pay Date</th>
					</tr>
				</thead>
				<tbody>
					<%for(var i = 0; i < rows.length; i++){%>
						<%if(rows[i].WS_Week == weekNum){%>
							<tr class="table-success">
								<td class='text-center align-middle'><%=rows[i].Payroll_Number%></td>
								<td class='text-center align-middle'><%=rows[i].WS_Week%></td>
								<td class='text-center align-middle'><%=rows[i].Start_Date%></td>
								<td class='text-center align-middle'><%=rows[i].End_Date%></td>
								<td class='text-center align-middle'><%=rows[i].PP_Last_Date%></td>
								<td class='text-center align-middle'><%=rows[i].Pay_Date%></td>
							</tr>
						<%} else {%>
							<tr>
								<td class='text-center align-middle'><%=rows[i].Payroll_Number%></td>
								<td class='text-center align-middle'><%=rows[i].WS_Week%></td>
								<td class='text-center align-middle'><%=rows[i].Start_Date%></td>
								<td class='text-center align-middle'><%=rows[i].End_Date%></td>
								<td class='text-center align-middle'><%=rows[i].PP_Last_Date%></td>
								<td class='text-center align-middle'><%=rows[i].Pay_Date%></td>
							</tr>
						<%}%>
					<%}%>
				</tbody>
			</table>
		</div>
	</div>

<%- include("./partials/footer.ejs") %>
